.flat-table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    overflow: auto;
    width: auto;
    
    th {
      background-color: rgb(112, 196, 105);
      color: white;
      font-weight: normal;
      /* padding: 3px 10px; */
      text-align: center;
    }
    td {
      background-color: rgb(238, 238, 238);
      color: rgb(111, 111, 111);
      /* padding: 5px 10px; */
    }
}
.page_title{
    margin: 0px auto;
    font-size: 1.5em;/* フォントサイズ */
    font-weight: bold;/* フォント太さ */
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    margin-bottom: 2em;
    background-color: #ebf4f6;/* 背景色 */
    border-left: 5px solid #318496;/* 左の線 */
    border-bottom: 2px solid #cccccc;/* 下の線 */
    color: #318496;/* フォント色 */
}
.gamen{
    margin-left:200px;
    margin-right:200px;
}
.link_buttons{
    margin-left:500px;
    .link_button1{
        border:none;
        width: 150px;
        height: 50px;
        align-items: center;
        box-sizing: border-box;
        color: #11f054;
        background: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 30px;
    }
    .link_button2{
        border:none;
        width: 150px;
        height: 50px;
        align-items: center;
        box-sizing: border-box;
        color: #6ec3eb;
        background: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 30px;
        margin-left: 30px;
    }
    .link_button3{
        border:none;
        width: 150px;
        height: 50px;
        align-items: center;
        box-sizing: border-box;
        color: #fa83e6;
        background: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 30px;
        margin-left: 30px;
    }
    
}